@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}


.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.content__title {
    text-align: center;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
    font-weight: 600;
}
.content__box {
    padding: 90px;
    max-width: 800px;
    text-align: center;
    border: 1px solid #fff;
    position: relative;
    z-index: 0;
}
.content__box-joke {
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
}
.content__box-btn {
    width: 180px;
    height: 80px;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 18px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-block;
    cursor: pointer;
    transform: translate(-50%,50%);
    outline: none;
    transition: all .2s linear;
    z-index: 1;
    &:hover{
        color: #000;
        z-index: 2;
        &::before{
            height: 100%;
            z-index: -1;
        }
    }
    &::before{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #fff;
        transition: all .2s linear;
    }
}


.cross {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 100px;
    height: 100px;
    background: crimson;
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #e1eec3, #f05053, #f7ff00, #db36a4, #ad5389, #3c1053);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
  }
  
  .cross:nth-child(1) {
    position: absolute;
    bottom: 15%;
    left: -80%;
  }
  
  .cross:nth-child(2) {
    position: absolute;
    top: 15%;
    left: 80%;
  }
  
  .cross:nth-child(3) {
    position: absolute;
    top: 65%;
    left: 10%;
  }
  
  .cross:nth-child(4) {
    position: absolute;
    top: 75%;
    left: 75%;
  }
  
  .cross:nth-child(5) {
    position: absolute;
    top: 75%;
    left: 45%;
  }
  
  .cross:nth-child(6) {
    position: absolute;
    top: 5%;
    left: 50%;
  }
  
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



  @media only screen and (max-width: 900px) {
    .cross{
        visibility: hidden;
    }
  }